.field-name-field-sph-event-date .field-add-more-submit {
  display: none;
}

.field-name-field-sph-generic-event-date .field-add-more-submit {
  display: none;
}

.node-type-uw-ct-single-page-home .paragraphs-items-field-sph-quicklink-full {
  align-items:flex-start;
}

.videoWrapper {
  max-height:610px;
  overflow:hidden;
  position:relative;
}

.videoWrapper video {
  width:100%;
  height:auto;
  display:block;
}
.videoWrapper .video-bottom {
  position:absolute;
  bottom:0;
  left:0;
  display:block;
  width:100%;
}
.videoWrapper .controls {
  float:left;
  padding-left:20px;
}

.videoWrapper .controls .video-control {
  display:inline-block;
  height:2em;
  width:2em;
  padding:0.5em;
  line-height:1em;
  background: #f1f1f1;
  color:#4e4e4e;
  margin-left:0.25em;
}

.videoWrapper .controls .video-control:hover,
.videoWrapper .controls .video-control:focus {
  background:#4e4e4e;
  color:#f1f1f1;
}

.videoWrapper .controls .video-control.play:before {
  content:"\f04b";
  font-family:"FontAwesome";
}

.videoWrapper .controls .video-control.pause:before {
  content:"\f04c";
  font-family:"FontAwesome";
}

.videoWrapper .video-bottom > .content-body {
  padding:1em 0;
}

.videoWrapper .controls div {
  display:inline-block;
  cursor: pointer;
}

.video-description {
  background:#f1f1f1;
}
.video-description .content-body {
  padding: 1em 0;
}


@media (max-width: 640px) {
  .videoWrapper {
    max-height:none;
  }

  .uw-site--header {
    position:relative !important;
  }
}

